<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import MyPortfolio from "@/components/MyPortfolio.vue";

import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <MyPortfolio />
</template>

<style scoped></style>
