<script setup lang="ts">
import FrameWorkPop from "@/components/FrameWorkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJs",
    img: "https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg",
    rating: 0,
  },
  {
    name: "AngularJS",
    img: "https://material.angularjs.org/latest/img/logo.svg",
    rating: 0,
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg",
    rating: 0,
  },
]);

function change(rating: number, index: number) {
  console.log("change " + index + " " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameWorkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="change"
        />
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        ,<v-table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>
          ,
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
