<script setup lang="ts">
import { ref } from "vue";
import { mdiChevronUp, mdiChevronDown } from "@mdi/js";
const showPortfolio = ref(false);
const showStudiedCourse = ref(false);
</script>

<template>
  <v-card class="mx-auto" max-width="1000"
    ><div style="text-align: center; margin-top: 20px">
      <v-avatar
        color="surface-variant"
        image="./src/assets/profile.jpg"
        size="180"
      ></v-avatar>
    </div>

    <div style="text-align: center">
      <v-card-title> Korrawit Sasiraborvornpat </v-card-title>
    </div>

    <div style="text-align: center">
      <v-card-subtitle> Computer Science </v-card-subtitle>
    </div>

    <v-card-actions>
      <v-btn color="orange-lighten-2" variant="text"> Portfolio </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        :icon="showPortfolio ? mdiChevronUp : mdiChevronDown"
        @click="showPortfolio = !showPortfolio"
      ></v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="showPortfolio">
        <v-divider></v-divider>

        <v-card-text>
          <p>ID : 63160062</p>
          <p>Faculty : Faculty of informatics</p>
          <p>GPA : 3.53</p>
          <p>Web programming is cool!</p>
        </v-card-text>
      </div>
    </v-expand-transition>

    <v-card-actions>
      <v-btn color="orange-lighten-2" variant="text"> Studied course </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        :icon="showStudiedCourse ? mdiChevronUp : mdiChevronDown"
        @click="showStudiedCourse = !showStudiedCourse"
      ></v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="showStudiedCourse">
        <v-divider></v-divider>

        <v-table>
          <thead>
            <tr>
              <th>Course code</th>
              <th>Course title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>88624359</td>
              <td>Web Programming</td>
            </tr>
            <tr>
              <td>88624459</td>
              <td>Object-Oriented Analysis and Design</td>
            </tr>
            <tr>
              <td>88624559</td>
              <td>Software Testing</td>
            </tr>
            <tr>
              <td>88634259</td>
              <td>Multimedia Programming for Multiplatforms</td>
            </tr>
            <tr>
              <td>88634459</td>
              <td>Mobile Application Development I</td>
            </tr>
            <tr>
              <td>88646259</td>
              <td>Introduction to Natural Language Processing</td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<style></style>
